<a href="https://colab.research.google.com/github/yogesh11100/python_lib/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'countries':['USA','India','Japan','Seoul'],'Ranks':[2,1,34,25]})
df

  countries  Ranks
0       USA      2
1     India      1
2     Japan     34
3     Seoul     25

In [ ]:
#We can do a quick analysis of any data set using:
df.describe()

           Ranks
count   4.000000
mean   15.500000
std    16.583124
min     1.000000
25%     1.750000
50%    13.500000
75%    27.250000
max    34.000000

In [ ]:
#Among other things, it shows the data set has 5 rows and 2 columns with their respective names.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   countries  4 non-null      object
 1   Ranks      4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [ ]:
data = pd.DataFrame({'group':['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],'ounces':[4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [ ]:
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [ ]:
#Let's sort the data frame by ounces - inplace = True will make changes to the data
data.sort_values(by=['ounces'],ascending=True,inplace=False)

  group  ounces
1     a     3.0
6     c     3.0
0     a     4.0
7     c     5.0
3     b     6.0
8     c     6.0
4     b     7.5
5     b     8.0
2     a    12.0

In [ ]:
data['group'].drop_duplicates()

1    a
6    c
3    b
Name: group, dtype: object

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
#we will create another column named animal and we will assign animal to that food using map
meat_to_animal={
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat_2_animal(series):
    if series['food'] == 'bacon':
        return 'pig'
    elif series['food'] == 'pulled pork':
        return 'pig'
    elif series['food'] == 'pastrami':
        return 'cow'
    elif series['food'] == 'corned beef':
        return 'cow'
    elif series['food'] == 'honey ham':
        return 'pig'
    else:
        return 'salmon'
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
#Series function from pandas are used to create arrays
dt = pd.Series([1,.08,1., -999., 2., -999., -1000., 3.])
dt

0       1.00
1       0.08
2       1.00
3    -999.00
4       2.00
5    -999.00
6   -1000.00
7       3.00
dtype: float64

In [ ]:
#replace -999 with NaN values
import numpy as np
dt.replace([-999],np.nan,inplace=True)

In [ ]:
dt.replace([-999,-1000],np.nan,inplace=True)

In [ ]:
dt

0    1.00
1    0.08
2    1.00
3     NaN
4    2.00
5     NaN
6     NaN
7    3.00
dtype: float64

In [ ]:
data = pd.DataFrame(np.arange(12).reshape(3,4),index=['ohio','colorado','Newyork'],columns=['one','two','three','four'])
data

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
Newyork     8    9     10    11

In [ ]:
#Using rename function
data.rename(index={'ohio':'sanf'},columns={'one':'one_p'})

          one_p  two  three  four
sanf          0    1      2     3
colorado      4    5      6     7
Newyork       8    9     10    11

In [ ]:
#rename using string functions
data.rename(index=str.upper)

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEWYORK     8    9     10    11

In [ ]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341
2013-01-02  1.244216  0.023686 -0.193634  0.306121
2013-01-03  0.418076 -0.365160  0.237900  0.169482
2013-01-04 -1.314462  0.128877  0.488385  0.352774
2013-01-05  1.932929  0.249604  0.171884  0.702786
2013-01-06  0.202616 -0.888599  0.358167  1.225738

In [ ]:
df[:3]

                   A         B         C         D
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341
2013-01-02  1.244216  0.023686 -0.193634  0.306121
2013-01-03  0.418076 -0.365160  0.237900  0.169482

In [ ]:
#slice based on date range
df['20130101':'20130104']

                   A         B         C         D
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341
2013-01-02  1.244216  0.023686 -0.193634  0.306121
2013-01-03  0.418076 -0.365160  0.237900  0.169482
2013-01-04 -1.314462  0.128877  0.488385  0.352774

In [ ]:
df.loc['20130101':'20130104',['A','B']]

                   A         B
2013-01-01 -1.409349 -1.883823
2013-01-02  1.244216  0.023686
2013-01-03  0.418076 -0.365160
2013-01-04 -1.314462  0.128877

In [ ]:
#returns a specific range of rows and i-index
df.iloc[2:4, 0:2]

                   A         B
2013-01-03  0.418076 -0.365160
2013-01-04 -1.314462  0.128877

In [ ]:
#boolean based indexing
df[df.A>1]

                   A         B         C         D
2013-01-02  1.244216  0.023686 -0.193634  0.306121
2013-01-05  1.932929  0.249604  0.171884  0.702786

In [ ]:
#copy
df2 = df.copy()
df2

                   A         B         C         D
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341
2013-01-02  1.244216  0.023686 -0.193634  0.306121
2013-01-03  0.418076 -0.365160  0.237900  0.169482
2013-01-04 -1.314462  0.128877  0.488385  0.352774
2013-01-05  1.932929  0.249604  0.171884  0.702786
2013-01-06  0.202616 -0.888599  0.358167  1.225738

In [ ]:
df2['E']=['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341    one
2013-01-02  1.244216  0.023686 -0.193634  0.306121    one
2013-01-03  0.418076 -0.365160  0.237900  0.169482    two
2013-01-04 -1.314462  0.128877  0.488385  0.352774  three
2013-01-05  1.932929  0.249604  0.171884  0.702786   four
2013-01-06  0.202616 -0.888599  0.358167  1.225738  three

In [ ]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.418076 -0.365160  0.237900  0.169482   two
2013-01-05  1.932929  0.249604  0.171884  0.702786  four

In [ ]:
#select all rows except those with two and four
df2[~df2['E'].isin(['two','four'])]

                   A         B         C         D      E
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341    one
2013-01-02  1.244216  0.023686 -0.193634  0.306121    one
2013-01-04 -1.314462  0.128877  0.488385  0.352774  three
2013-01-06  0.202616 -0.888599  0.358167  1.225738  three

In [ ]:
#list all columns where A is greater than C
df.query('A > C')

                   A         B         C         D
2013-01-02  1.244216  0.023686 -0.193634  0.306121
2013-01-03  0.418076 -0.365160  0.237900  0.169482
2013-01-05  1.932929  0.249604  0.171884  0.702786

In [ ]:
#using OR condition
df.query('A < B | C > A')

                   A         B         C         D
2013-01-01 -1.409349 -1.883823 -1.393291  1.975341
2013-01-04 -1.314462  0.128877  0.488385  0.352774
2013-01-06  0.202616 -0.888599  0.358167  1.225738